In [1]:
import pandas
import pandas_datareader as pdr
import numpy as np

In [2]:
ff5_month = pdr.get_data_famafrench('F-F_Research_Data_5_Factors_2x3', start='1963-07', end='2023-03')[0]
ff5_month = ff5_month / 100
mom_month = pdr.get_data_famafrench('F-F_Momentum_Factor', start='1927-01', end='2023-03')[0]
mom_month = mom_month / 100

ff5_month = ff5_month.reset_index()
mom_month = mom_month.reset_index()
ff5mom_month = ff5_month.merge(mom_month, on='Date', how='right')
ff5mom_month = ff5mom_month.set_index('Date')

/var/folders/sg/4dp480wd1cjd288xvby34rpr0000gn/T/ipykernel_62612/3245062299.py:1: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  ff5_month = pdr.get_data_famafrench('F-F_Research_Data_5_Factors_2x3', start='1963-07', end='2023-03')[0]
/var/folders/sg/4dp480wd1cjd288xvby34rpr0000gn/T/ipykernel_62612/3245062299.py:1: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  ff5_month = pdr.get_data_famafrench('F-F_Research_Data_5_Factors_2x3', start='1963-07', end='2023-03')[0]
/var/folders/sg/4dp480wd1cjd288xvby34rpr0000gn/T/ipykernel_62612/3245062299.py:3: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  mom_month = pdr.get_data_famafrench('F-F_Momentum_Factor', start='1927-01', end='2023-03')[0]
/var/folders/sg/4dp480wd1cjd288xvby34rpr0000gn/T/ipykernel_62612/3245062299.py:3: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  mom_month = pdr.get_data_famafrench('F-F_Momentum_Factor', start='1927-01', end='2023-03')[0]

In [8]:
ff5_daily = pdr.get_data_famafrench('F-F_Research_Data_5_Factors_2x3_daily', start='1963-07-01', end='2023-03-31')[0]
ff5_daily = ff5_daily / 100
mom_daily = pdr.get_data_famafrench('F-F_Momentum_Factor_daily', start='1926-11-03', end='2023-03-31')[0]
mom_daily = mom_daily / 100

ff5_daily = ff5_daily.reset_index()
mom_daily = mom_daily.reset_index()
ff5mom_daily = ff5_daily.merge(mom_daily, on='Date', how='right')
ff5mom_daily = ff5mom_daily.set_index('Date')

/var/folders/sg/4dp480wd1cjd288xvby34rpr0000gn/T/ipykernel_62612/152997468.py:1: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  ff5_daily = pdr.get_data_famafrench('F-F_Research_Data_5_Factors_2x3_daily', start='1963-07-01', end='2023-03-31')[0]
/var/folders/sg/4dp480wd1cjd288xvby34rpr0000gn/T/ipykernel_62612/152997468.py:3: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  mom_daily = pdr.get_data_famafrench('F-F_Momentum_Factor_daily', start='1926-11-03', end='2023-03-31')[0]

In [9]:
ff5mom_month

         Mkt-RF     SMB     HML     RMW     CMA      RF  Mom
Date
1927-01     NaN     NaN     NaN     NaN     NaN     NaN  0.0036
1927-02     NaN     NaN     NaN     NaN     NaN     NaN -0.0214
1927-03     NaN     NaN     NaN     NaN     NaN     NaN  0.0361
1927-04     NaN     NaN     NaN     NaN     NaN     NaN  0.0430
1927-05     NaN     NaN     NaN     NaN     NaN     NaN  0.0300
...         ...     ...     ...     ...     ...     ...     ...
2022-11  0.0460 -0.0267  0.0138  0.0601  0.0311  0.0029 -0.0201
2022-12 -0.0641 -0.0016  0.0132  0.0009  0.0419  0.0033  0.0452
2023-01  0.0665  0.0443 -0.0405 -0.0262 -0.0453  0.0035 -0.1598
2023-02 -0.0258  0.0069 -0.0078  0.0090 -0.0141  0.0034  0.0020
2023-03  0.0251 -0.0701 -0.0901  0.0192 -0.0229  0.0036 -0.0252

[1155 rows x 7 columns]

In [10]:
ff5mom_daily

            Mkt-RF     SMB     HML     RMW     CMA       RF  Mom
Date
1926-11-03     NaN     NaN     NaN     NaN     NaN      NaN  0.0056
1926-11-04     NaN     NaN     NaN     NaN     NaN      NaN -0.0050
1926-11-05     NaN     NaN     NaN     NaN     NaN      NaN  0.0117
1926-11-06     NaN     NaN     NaN     NaN     NaN      NaN -0.0003
1926-11-08     NaN     NaN     NaN     NaN     NaN      NaN -0.0001
...            ...     ...     ...     ...     ...      ...     ...
2023-03-27  0.0027  0.0051  0.0102 -0.0028  0.0035  0.00016  0.0082
2023-03-28 -0.0017 -0.0003  0.0074  0.0008  0.0055  0.00016  0.0073
2023-03-29  0.0139 -0.0034 -0.0050 -0.0090 -0.0054  0.00016 -0.0111
2023-03-30  0.0051 -0.0061 -0.0059  0.0020 -0.0009  0.00016 -0.0039
2023-03-31  0.0153  0.0051 -0.0077 -0.0046 -0.0076  0.00016 -0.0101

[25360 rows x 7 columns]